In [3]:
import pandas as pd
from datetime import datetime

In [2]:
x = pd.read_csv("international-airline-passengers.csv", engine="python", skipfooter=3)

In [6]:
x.columns = ["month", "passengers"]

In [11]:
#axis 1 is required to apply the operation on every row instead of on every column
x["dt"] = x.apply(lambda row: datetime.strptime(row["month"], "%Y-%m"), axis=1)

In [12]:
x.head()

     month  passengers         dt
0  1949-01         112 1949-01-01
1  1949-02         118 1949-02-01
2  1949-03         132 1949-03-01
3  1949-04         129 1949-04-01
4  1949-05         121 1949-05-01

In [13]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141 entries, 0 to 140
Data columns (total 3 columns):
month         141 non-null object
passengers    141 non-null int64
dt            141 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 3.4+ KB